.wrapper {
  padding: 8px;
  background-color: #020024;
  border-radius: 8px;
}

.task-input-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task > p {
  flex-grow: 1;
}
